<footer>
    <div class="footer text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1 centered">
                &copy; Copyright 2015 &bull; powered by Class2015-WebSystem Team &bull; 
              </div>
          </div>
      </div>
  </div>
</footer>
